<div class="container">
  <div class="my_edit-box">
    <h2 class="title__main">パスワード編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :password, class: "form-label" %>（<%= @minimum_password_length %>文字以上の英数字）<br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: '●●●●●●●●' %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: '●●●●●●●●' %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password, class: "form-label label label-required" %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: '●●●●●●●●' %>
      </div>

      <div class="actions form-group">
        <%= f.submit "更新する", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to "マイページへ戻る", :back, class: "btn btn-primary" %>
  </div>
</div>
