<div class="container">
  <div class="sign_up-box">
    <h2 class="sign_up-title text-center title__main">メンバー新規作成</h2>

    <div class="sign_up-body">
      <%= form_with model: @user, url: user_registration_path, data: { turbo: false }, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="field form-group">
          <%= f.label :email, class: "form-label label label-required" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'user@example.com' %>
        </div>

        <div class="field form-group">
          <%= f.label :password, class: "form-label label label-required" %>（<%= @minimum_password_length %> 字以上の英数字）<br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: '●●●●●●●●' %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, class: "form-label label label-required" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: '●●●●●●●●' %>
        </div>

        <div class="field form-group">
          <%= f.check_box :admin, checked_value: "1", unchecked_value: "0" %><%= f.label :admin, class: "form-label" %>を付与する
        </div>
      </div>

        <div class="actions form-group">
          <%= f.submit "メンバーを作成する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
