<% if !@likes.empty? %>
    <% @likes.each do |like| %>
        <div class="reservation-contents">
            <div class="reservation-event_title">イベントタイトル：<%= like.event.title %></div>
            <div class="reservation-event_details">
                <p class="reservation-date">日付：<%= like.event.date.to_fs(:date_stamp) %></p>
                <p class="reservation-datetime">時間：<%= like.event.start_time.to_s(:time_stamp) %> - <%= like.event.end_time.to_s(:time_stamp) %></p>
                <p class="reservation-event_place">場所：<%= like.event.place %></p>
                <p><%= link_to 'イベントの詳細を見る', like.event, { class: "btn btn-sm btn-outline-secondary cancel-btn" } %></p>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="alert alert-secondary text-center" role="alert">
        いいねしたイベントはありません。
    </div>
<% end %>