<div class="user__cont-main">
    <div class="user__cont-image">
        <% if user.image? %>
            <%= image_tag user.image.url %>
        <% else %>
            <%= image_tag "user_default.jpg", class:"", alt:"default_image" %>
        <% end %>            
    </div>
    <div class="user__cont-name">
    <% if user.name %>
        <%= user.name %>
    <% else %>
        <%= user.email %>
    <% end %>
    </div>
    <div class="user__cont-parts part-items">
        <% user.parts.each do |part| %>
            <span class="part-item part-<%= part.name %>"><%= part.name %></span>
        <% end %>
    </div>
    <div class="user__cont-profile"><%= user.profile %></div>
</div>