<div class="container">
  <h2 class="py-4">メンバー一覧</h2>
  <table class="table table-hover users__table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>担当パート</th>
        <th>作成日時</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>ドラム</td>
          <td><%= user.created_at.to_s(:datetime_jp) %></td>
          <td><%= link_to '詳細', user, class: 'btn btn-outline-dark' %></td>
          <td><%= link_to '削除', user, class: 'btn btn-outline-dark', method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>