<div class="container">
  <div class="d-flex">
    <h2>メンバー一覧</h2>
    <div class="ml-auto events__link-box">
      <%= link_to '新規作成', new_user_registration_path, class: 'btn btn-outline-dark' %>
    </div>
  </div>
  <table class="table  users__table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>担当パート</th>
        <th>作成日時</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% user.parts.each do |part|%>
              <%= part.name %>
            <% end %>
          </td>
          <td><%= user.created_at.to_s(:date_time_stamp) %></td>
          <td><%= link_to '削除', user, class: 'btn btn-outline-dark', method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>