<div class="container mt-10">
    <div class="d-flex align-items-center">
        <h1>イベント編集</h1>
        <div class="ml-auto boards__linkBox">
            <a class="'btn btn-outline-dark'" href="../">一覧</a>
        </div>
    </div>
    <%= form_for @event do |f| %>
        <div class="form-group">
            <%= f.label :title, 'イベントタイトル' %>
            <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :content, '内容' %>
            <%= f.text_area :content, class: 'form-control', rows: 10 %>
        </div>
        <%= f.submit '保存', class: 'btn btn-primary' %>
    <% end %>
</div>