<div class="container">
  <div class="event_detail">
    <div class="d-flex">
      <div class="ml-auto events__link-box">
          <% if current_user.admin %>
            <%= link_to '編集', edit_event_path(@event), class: 'btn btn-outline-dark' %>
          <% end %>
      </div>
    </div>
    <% if @event.image.file %>
      <%= image_tag @event.image.url, alt:"event_image" %>
    <% else %>
      <%= image_tag "event_default.jpg", alt:"default_image" %>
    <% end %>
    <div class="d-md-flex event_detail-top">
      <div class="event_detail-top-cont">
        <p class="event-title"><%= @event.title %></p>
        <p><%= @event.date.to_fs(:date_stamp) %>　<%= @event.start_time.to_s(:time_stamp) %> - <%= @event.end_time.to_s(:time_stamp) %> @<%= @event.place %></p>
      </div>
      <div class="event_detail-top-rsv ml-auto">
        <%= form_for @reservation do |f| %>
          <%= f.hidden_field :event_id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit 'このイベントを予約する', class: 'btn btn-outline-dark btn-rsv' %>
        <% end %>
      </div>
    </div>

    <div class="event_detail-main">
      <p class="event_detail-main-title">イベント概要</p>
      <div class="event_detail-main-text"><%= simple_format(@event.content) %></div>
    </div>

    <div class="event_detail-foot">
      <%= form_for @reservation do |f| %>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit 'このイベントを予約する', class: 'btn btn-outline-dark btn-rsv' %>
      <% end %>
      <%= link_to 'イベント一覧へ戻る', events_path, class: 'btn btn-outline-dark btn-back' %>  
    </div>

    <p class="reserved-user_title">予約者一覧</p>
    <% if !@reserved.empty? %>
      <table class="table reserved-user_body">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>担当パート</th>
            <th>予約日時</th>
          </tr>
        </thead>
        <tbody>
          <% @reserved.each do |reserved| %>
            <tr>
              <td><%= reserved.user.id %></td>
              <td><%= reserved.user.name %></td>
              <td><%= reserved.user.email %></td>
              <td>
                <% reserved.user.parts.each do |part|%>
                  <%= part.name %>
                <% end %>
              </td>
              <td><%= reserved.created_at.to_s(:date_time_stamp) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-secondary text-center" role="alert">
        現在予約中のイベントはありません。
      </div>
    <% end %>
  </div>
</div>
