<div class="container">
    <h2>予約一覧</h2>
    <% if !@reservations.empty? %>
        <% @reservations.each do |reservation| %>
            <div class="reservation-contents">
                <div class="reservation-event_title">イベントタイトル：<%= reservation.event.title %></div>
                <div class="reservation-event_details">
                    <p class="reservation-date">日付：<%= reservation.event.date.to_fs(:date_stamp) %></p>
                    <p class="reservation-datetime">時間：<%= reservation.event.start_time.to_s(:time_stamp) %> - <%= reservation.event.end_time.to_s(:time_stamp) %></p>
                    <p class="reservation-event_place">場所：<%= reservation.event.place %></p>
                    <p><%= button_to 'このイベントをキャンセルする', reservation, { class: "btn btn-sm btn-outline-secondary cancel-btn", method: :delete, form: { data: { turbo_confirm: "#{reservation.event.title}の予約をキャンセルします\r\nよろしいですか？"}}} %></p>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="alert alert-secondary text-center" role="alert">
            現在予約中のイベントはありません。
        </div>
    <% end %>
</div>