<!DOCTYPE html>
<html>
  <head>
    <title>FolApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light text-dark bg-dark navbar-fixed-top" id="home">
            <a class="navbar-brand text-white mss-lg-5" href="#">Field of Music</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#skill">Mypage</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="events/new">NewPost</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <%= yield %>
  </body>
</html>
